<!-- https://codepen.io/swapnet/pen/QWwPVwE -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
    <link rel="stylesheet" href="{% static 'loginStyle.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->


<div class="segment">
    <h1>Log In</h1>
</div>
{% if loginFailed %}
    <div class="segment" style="color: rgba(211,24,24,0.75);background: rgba(241,9,9,0.37)">
        <h3>Email or Password is invalid</h3>
    </div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}

    <label>
        <input type="text" name="email" maxlength="100" required id="id_email" placeholder="Email Address"/>
    </label>
    <button class="red" type="submit"><i class="icon ion-md-mail"></i> Send to Email</button>
</form>
    <div class="segment">
        <button class="unit" type="button"><i class="icon ion-md-home"></i></button>
        <a href="{% url "login" %}"> <button class="blue" ><i class="icon ion-md-timer"></i> Login</button></a>
    </div>



<!-- partial -->

</body>
</html>
