<!-- https://codepen.io/swapnet/pen/QWwPVwE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel='stylesheet' href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap'>
    <link rel="stylesheet" href="{% static 'loginStyle.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->


<div class="segment">
    <button class = "button">You have successfully Logged in as {{ RollNumber }}</button>
    <a href="{% url "logout" %}"> <button class="blue" ><i class="icon ion-md-timer"></i> Logout</button></a>
    <a href="{% url "login" %}"> <button class="blue" ><i class="icon ion-md-timer"></i> Login</button></a>

</div>

<!-- partial -->

</body>
</html>
